<!-- ••[1]••••••••••••••••••••••••• resume-form.component.html •••••••••••••••••••••••••••••• -->

<div class="app-resume-form max-w-4xl mx-auto">
  <form
    class="m-10 border-2 border-primary rounded-md p-6 shadow-lg shadow-primary"
    [formGroup]="resumeForm"
    (ngSubmit)="onSubmit($event, resumeForm)"
  >
    <!-- Accordion actions -->
    <ng-container [ngTemplateOutlet]="accordionActionsRef"></ng-container>

    <mat-accordion multi>
      <!-- Contact -->
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-4" color="accent">person</mat-icon>
            {{ label.contact }}</mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container [ngTemplateOutlet]="contactFieldsetRef"></ng-container>
      </mat-expansion-panel>
      <!-- Profile -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-4" color="accent">badge</mat-icon
            >{{ label.profile }}</mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container [ngTemplateOutlet]="profileFieldsetRef"></ng-container>
      </mat-expansion-panel>
      <!-- Capabilities -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="mr-4" color="accent">construction</mat-icon
            >{{ label.capabilities }}</mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container
          [ngTemplateOutlet]="capabilitiesFieldsetRef"
        ></ng-container>
      </mat-expansion-panel>
      <!-- Skills -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="mr-4" color="accent">workspace_premium</mat-icon
            >{{ label.skills }}</mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container [ngTemplateOutlet]="skillsFieldsetRef"></ng-container>
      </mat-expansion-panel>
      <!-- Educations -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="mr-4" color="accent">school</mat-icon
            >{{ label.educations }}</mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container [ngTemplateOutlet]="educationsFieldsetRef"></ng-container>
      </mat-expansion-panel>
      <!-- Certifications -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="mr-4" color="accent">emoji_events</mat-icon
            >{{ label.certifications }}</mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container
          [ngTemplateOutlet]="certificationsFieldsetRef"
        ></ng-container>
      </mat-expansion-panel>
      <!-- Experiences -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            ><mat-icon class="mr-4" color="accent">work</mat-icon
            >{{ label.experiences }}</mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container
          [ngTemplateOutlet]="experiencesFieldsetRef"
        ></ng-container>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Form actions -->
    <ng-container [ngTemplateOutlet]="formActionsRef"></ng-container>
  </form>
</div>

<!-- <pre class="text-wrap">{{ resumeForm.getRawValue() | json }}</pre> -->

<!-- •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

  RENDER TEMPLATES

••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->

<!-- ••[3]••••• Contact •••••••••• -->
<ng-template #contactFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset" formGroupName="contact">
    <legend class="legend">
      {{ label.contact }}
    </legend>
    <!-- Name -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ label.contactName }}</mat-label>
      <input matInput type="text" formControlName="name" #contactNameRef />
      @if (contactNameRef.value) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        matTooltip="{{ label.clear }}"
        matTooltipPosition="above"
        (click)="resumeForm.controls.contact.controls.name.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
      <mat-error>
        <ng-container
          *ngTemplateOutlet="
            formErrorsRef;
            context: { $implicit: resumeForm.controls.contact.controls.name }
          "
        ></ng-container>
      </mat-error>
    </mat-form-field>
    <!-- Title -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ label.contactTitle }}</mat-label>
      <input matInput type="text" formControlName="title" #contactTitleRef />
      @if (contactTitleRef.value) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        matTooltip="{{ label.clear }}"
        matTooltipPosition="above"
        (click)="resumeForm.controls.contact.controls.title.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
      <mat-error>
        <ng-container
          *ngTemplateOutlet="
            formErrorsRef;
            context: { $implicit: resumeForm.controls.contact.controls.title }
          "
        ></ng-container>
      </mat-error>
    </mat-form-field>
  </fieldset>
</ng-template>

<!-- ••[3]••••• Profile •••••••••• -->
<ng-template #profileFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset mt-4" formGroupName="profile">
    <legend class="legend">
      {{ label.profile }}
    </legend>
    <!-- Description -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ label.profileDescription }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
        #profileDescriptionRef
      />
      @if (profileDescriptionRef.value) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        matTooltip="{{ label.clear }}"
        matTooltipPosition="above"
        (click)="resumeForm.controls.profile.controls.description.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
      <mat-error>
        <ng-container
          *ngTemplateOutlet="
            formErrorsRef;
            context: {
              $implicit: resumeForm.controls.profile.controls.description
            }
          "
        ></ng-container>
      </mat-error>
    </mat-form-field>
  </fieldset>
</ng-template>

<!-- ••[3]••••• Capabilities •••••••••• -->
<ng-template #capabilitiesFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset mt-4" formArrayName="capabilities">
    <legend class="legend">
      {{ label.capabilities }}
    </legend>

    <div class="flex justify-end">
      <button
        type="button"
        mat-mini-fab
        color="accent"
        matTooltip="{{ label.addCapability }}"
        matTooltipPosition="above"
        type="button"
        (click)="addCapability()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @for (capabilityControl of resumeForm.controls.capabilities.controls; track
    capabilityControl) {

    <fieldset
      class="capability fieldset border-slate-700 mt-4"
      [formGroupName]="$index"
    >
      <legend class="font-normal capitalize px-2 text-slate-500">
        {{ label.capability }} ◦ {{ $index + 1 }}
      </legend>
      <div class="flex">
        <div class="flex-1">
          <!-- Title -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.capabilityTitle }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="title"
              #capabilityTitleRef
            />
            @if (capabilityTitleRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.capabilities
                  .at($index)
                  .controls.title.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.capabilities.at($index).controls.title
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Description -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.capabilityDescription }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="description"
              #capabilityDescriptionRef
            />
            @if (capabilityDescriptionRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.capabilities
                  .at($index)
                  .controls.description.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.capabilities.at($index).controls
                        .description
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        @if ($count > 1) {
        <div class="ml-4">
          <button
            type="button"
            mat-mini-fab
            color="primary"
            matTooltip="{{ label.removeCapability }}"
            matTooltipPosition="above"
            type="button"
            (click)="removeCapability($index)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
    </fieldset>
    }
  </fieldset>
</ng-template>

<!-- ••[3]••••• Skills •••••••••• -->
<ng-template #skillsFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset mt-4" formArrayName="skills">
    <legend class="legend">
      {{ label.skills }}
    </legend>

    <div class="flex justify-end">
      <button
        type="button"
        mat-mini-fab
        color="accent"
        matTooltip="{{ label.addSkill }}"
        matTooltipPosition="above"
        type="button"
        (click)="addSkill()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @for (skillControl of resumeForm.controls.skills.controls; track
    skillControl) {

    <div class="flex mt-4" [class.mt-6]="$first">
      <div class="flex-1">
        <!-- Skill -->
        <mat-form-field class="w-full" color="primary">
          <mat-label>{{ label.skill }}</mat-label>
          <input matInput type="text" [formControlName]="$index" #skillRef />
          @if (skillRef.value) {
          <button
            type="button"
            matSuffix
            mat-icon-button
            matTooltip="{{ label.clear }}"
            matTooltipPosition="above"
            (click)="resumeForm.controls.skills.at($index).reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
          <mat-error>
            <ng-container
              *ngTemplateOutlet="
                formErrorsRef;
                context: {
                  $implicit: resumeForm.controls.skills.at($index)
                }
              "
            ></ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      @if ($count > 1) {
      <div class="ml-4">
        <button
          type="button"
          mat-mini-fab
          color="primary"
          matTooltip="{{ label.removeSkill }}"
          matTooltipPosition="above"
          type="button"
          (click)="removeSkill($index)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      }
    </div>

    }
  </fieldset>
</ng-template>

<!-- ••[3]••••• Educations •••••••••• -->
<ng-template #educationsFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset mt-4" formArrayName="educations">
    <legend class="legend">
      {{ label.educations }}
    </legend>

    <div class="flex justify-end">
      <button
        type="button"
        mat-mini-fab
        color="accent"
        matTooltip="{{ label.addEducation }}"
        matTooltipPosition="above"
        type="button"
        (click)="addEducation()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @for (educationControl of resumeForm.controls.educations.controls; track
    educationControl) {

    <fieldset
      class="education fieldset border-slate-700 mt-4"
      [formGroupName]="$index"
    >
      <legend class="font-normal capitalize px-2 text-slate-500">
        {{ label.education }} ◦ {{ $index + 1 }}
      </legend>
      <div class="flex">
        <div class="flex-1">
          <!-- Institution -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.educationInstitution }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="institution"
              #educationInstitutionRef
            />
            @if (educationInstitutionRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.educations
                  .at($index)
                  .controls.institution.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.educations.at($index).controls
                        .institution
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Title -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.educationTitle }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="title"
              #educationTitleRef
            />
            @if (educationTitleRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.educations.at($index).controls.title.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.educations.at($index).controls.title
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
        </div>
        @if ($count > 1) {
        <div class="ml-4">
          <button
            type="button"
            mat-mini-fab
            color="primary"
            matTooltip="{{ label.removeEducation }}"
            matTooltipPosition="above"
            type="button"
            (click)="removeEducation($index)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
    </fieldset>
    }
  </fieldset>
</ng-template>

<!-- ••[3]••••• Certifications •••••••••• -->
<ng-template #certificationsFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset mt-4" formArrayName="certifications">
    <legend class="legend">
      {{ label.certifications }}
    </legend>

    <div class="flex justify-end">
      <button
        type="button"
        mat-mini-fab
        color="accent"
        matTooltip="{{ label.addCertification }}"
        matTooltipPosition="above"
        type="button"
        (click)="addCertification()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @for (certificationControl of resumeForm.controls.certifications.controls;
    track certificationControl) {

    <fieldset
      class="Certification fieldset border-slate-700 mt-4"
      [formGroupName]="$index"
    >
      <legend class="font-normal capitalize px-2 text-slate-500">
        {{ label.certification }} ◦ {{ $index + 1 }}
      </legend>
      <div class="flex">
        <div class="flex-1">
          <!-- Institution -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.certificationInstitution }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="institution"
              #CertificationInstitutionRef
            />
            @if (CertificationInstitutionRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.certifications
                  .at($index)
                  .controls.institution.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.certifications.at($index).controls
                        .institution
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Title -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.certificationTitle }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="title"
              #CertificationTitleRef
            />
            @if (CertificationTitleRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.certifications
                  .at($index)
                  .controls.title.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.certifications.at($index).controls
                        .title
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Date -->
          <mat-form-field class="w-full">
            <mat-label>{{ label.certificationDate }}</mat-label>
            <input
              matInput
              [max]="maxDate"
              [matDatepicker]="matDatepickerRef"
              formControlName="date"
            />
            <mat-hint>{{ label.certificationDateHint }}</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="matDatepickerRef"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #matDatepickerRef
              startView="multi-year"
              disabled="false"
            ></mat-datepicker>
          </mat-form-field>
        </div>
        @if ($count > 1) {
        <div class="ml-4">
          <button
            type="button"
            mat-mini-fab
            color="primary"
            matTooltip="{{ label.removeCertification }}"
            matTooltipPosition="above"
            type="button"
            (click)="removeCertification($index)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
    </fieldset>
    }
  </fieldset>
</ng-template>

<!-- ••[3]••••• Experiences •••••••••• -->
<ng-template #experiencesFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset mt-4" formArrayName="experiences">
    <legend class="legend">
      {{ label.experiences }}
    </legend>

    <div class="flex justify-end">
      <button
        type="button"
        mat-mini-fab
        color="accent"
        matTooltip="{{ label.addExperience }}"
        matTooltipPosition="above"
        type="button"
        (click)="addExperience()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    @for (experienceControl of resumeForm.controls.experiences.controls; track
    experienceControl) {

    <fieldset
      class="experience fieldset border-slate-700 mt-4"
      [formGroupName]="$index"
    >
      <legend class="font-normal capitalize px-2 text-slate-500">
        {{ label.experience }} ◦ {{ $index + 1 }}
      </legend>
      <div class="flex">
        <div class="flex-1">
          <!-- Role title -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.experienceRoleTitle }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="roleTitle"
              #experienceRoleTitleRef
            />
            @if (experienceRoleTitleRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.experiences
                  .at($index)
                  .controls.roleTitle.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.experiences.at($index).controls
                        .roleTitle
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Company -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.experienceCompany }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="company"
              #experienceCompanyRef
            />
            @if (experienceCompanyRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.experiences
                  .at($index)
                  .controls.company.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.experiences.at($index).controls
                        .company
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Project -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.experienceProject }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="project"
              #experienceProjectRef
            />
            @if (experienceProjectRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.experiences
                  .at($index)
                  .controls.project.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.experiences.at($index).controls
                        .project
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Start date - End date -->
          <mat-form-field class="w-full">
            <mat-label>First campaign</mat-label>
            <mat-date-range-input
              [rangePicker]="matDateRangePickerRef"
              disabled
            >
              <input
                matStartDate
                placeholder="{{ label.experienceStartDate }}"
                formControlName="startDate"
              />
              <input
                matEndDate
                placeholder="{{ label.experienceEndDate }}"
                formControlName="endDate"
              />
            </mat-date-range-input>
            <mat-hint
              >{{ label.experienceDateHint }} -
              {{ label.experienceDateHint }}</mat-hint
            >
            <mat-datepicker-toggle
              matIconSuffix
              [for]="matDateRangePickerRef"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
              #matDateRangePickerRef
              startView="multi-year"
              disabled="false"
            ></mat-date-range-picker>
          </mat-form-field>
          <!-- Technical environment -->
          <mat-form-field class="w-full" color="primary">
            <mat-label>{{ label.experienceTechnicalEnvironment }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="technicalEnvironment"
              #experienceTechnicalEnvironmentRef
            />
            @if (experienceTechnicalEnvironmentRef.value) {
            <button
              type="button"
              matSuffix
              mat-icon-button
              matTooltip="{{ label.clear }}"
              matTooltipPosition="above"
              (click)="
                resumeForm.controls.experiences
                  .at($index)
                  .controls.technicalEnvironment.reset()
              "
            >
              <mat-icon>close</mat-icon>
            </button>
            }
            <mat-error>
              <ng-container
                *ngTemplateOutlet="
                  formErrorsRef;
                  context: {
                    $implicit:
                      resumeForm.controls.experiences.at($index).controls
                        .technicalEnvironment
                  }
                "
              ></ng-container>
            </mat-error>
          </mat-form-field>
          <!-- Skills -->
          <fieldset
            class="experience fieldset border-slate-700 mt-2"
            formArrayName="skills"
          >
            <legend class="font-normal capitalize px-2 text-slate-500">
              {{ label.experienceSkills }}
            </legend>
            <div class="flex justify-end">
              <button
                type="button"
                mat-mini-fab
                color="accent"
                matTooltip="{{ label.addSkillToExperience }}"
                matTooltipPosition="above"
                type="button"
                (click)="addSkillToExperience($index)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>

            @for (skillOnExperienceControl of
            resumeForm.controls.experiences.at($index).controls.skills.controls;
            track skillOnExperienceControl; let $skillIndex = $index) {

            <div class="flex mt-4" [class.mt-6]="$first">
              <div class="flex-1">
                <!-- Skill -->
                <mat-form-field class="w-full" color="primary">
                  <mat-label>{{ label.experienceSkill }}</mat-label>
                  <input
                    matInput
                    type="text"
                    [formControlName]="$skillIndex"
                    #experienceSkillRef
                  />
                  @if (experienceSkillRef.value) {
                  <button
                    type="button"
                    matSuffix
                    mat-icon-button
                    matTooltip="{{ label.clear }}"
                    matTooltipPosition="above"
                    (click)="
                      resumeForm.controls.experiences
                        .at($index)
                        .controls.skills.at($skillIndex)
                        .reset()
                    "
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                  }
                  <mat-error>
                    <ng-container
                      *ngTemplateOutlet="
                        formErrorsRef;
                        context: {
                          $implicit: resumeForm.controls.experiences
                            .at($index)
                            .controls.skills.at($skillIndex)
                        }
                      "
                    ></ng-container>
                  </mat-error>
                </mat-form-field>
              </div>
              @if ($count > 1) {
              <div class="ml-4">
                <button
                  type="button"
                  mat-mini-fab
                  color="primary"
                  matTooltip="{{ label.removeSkill }}"
                  matTooltipPosition="above"
                  type="button"
                  (click)="removeFromExperienceSkill($index, $skillIndex)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              }
            </div>

            }
          </fieldset>
        </div>
        @if ($count > 1) {
        <div class="ml-4">
          <button
            type="button"
            mat-mini-fab
            color="primary"
            matTooltip="{{ label.removeExperience }}"
            matTooltipPosition="above"
            type="button"
            (click)="removeExperience($index)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        }
      </div>
    </fieldset>
    }
  </fieldset>
</ng-template>

<!-- Accordion actions -->
<ng-template #accordionActionsRef>
  <div class="mb-4 flex justify-end">
    <button
      type="button"
      mat-stroked-button
      class="mr-4"
      color="primary"
      type="button"
      (click)="matAccordion.openAll()"
    >
      <mat-icon class="mr-4">unfold_more</mat-icon>
      {{ label.expandAll }}
    </button>
    <button
      type="button"
      mat-stroked-button
      color="primary"
      type="button"
      (click)="matAccordion.closeAll()"
    >
      <mat-icon class="mr-4">unfold_less</mat-icon>
      {{ label.collapseAll }}
    </button>
  </div>
</ng-template>

<!-- ••[3]••••• Form actions •••••••••• -->
<ng-template #formActionsRef>
  <div class="mt-4 flex">
    <div class="saving-actions flex-1 flex flex-wrap gap-y-2">
      <button
        class="mr-4"
        mat-stroked-button
        color="primary"
        type="button"
        (click)="triggerResetForm()"
      >
        <mat-icon class="mr-4">restart_alt</mat-icon>
        {{ label.reset }}
      </button>
      <button
        type="button"
        mat-stroked-button
        class="mr-4"
        color="primary"
        type="button"
        (click)="triggerLoadTestData()"
      >
        <mat-icon class="mr-4">science</mat-icon>
        {{ label.loadTestData }}
      </button>
      <button
        type="button"
        mat-stroked-button
        class="mr-4"
        color="primary"
        type="button"
        (click)="triggerLoadForm()"
      >
        <mat-icon class="mr-4">cloud_download</mat-icon>
        {{ label.load }}
      </button>
      <button
        type="button"
        mat-stroked-button
        class="mr-4"
        color="primary"
        type="button"
        (click)="triggerSaveForm()"
      >
        <mat-icon class="mr-4">cloud_upload</mat-icon>
        {{ label.save }}
      </button>
    </div>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="resumeForm.invalid"
    >
      <mat-icon class="mr-4">send</mat-icon>
      {{ label.submit }}
    </button>
  </div>
</ng-template>

<!-- ••[3]••••• Form errors •••••••••• -->
<ng-template #formErrorsRef let-formControl>
  @if (formControl.hasError('required')) {
  {{ label.requiredErrorField }}
  } @else if (formControl.hasError('minlength')) {

  {{ minLengthErrorFieldLabel(formControl.errors) }}

  } @else if (formControl.hasError('pattern')) {
  {{ label.patternErrorField }}
  }
</ng-template>
