<!-- ••[1]••••••••••••••••••••••••• resume-form.component.html •••••••••••••••••••••••••••••• -->

<pre>
  resumeForm.valid: {{ resumeForm.valid }}
  resumeForm.invalid: {{ resumeForm.invalid }}
</pre>

<div class="app-resume-form">
  <form
    class="m-10 border-2 border-primary rounded-md p-6 shadow-lg shadow-primary"
    [formGroup]="resumeForm"
    (ngSubmit)="onSubmit($event, resumeForm)"
  >
    <!-- Contact -->
    <ng-container [ngTemplateOutlet]="contactFieldsetRef"></ng-container>

    <!-- Profile -->
    <ng-container [ngTemplateOutlet]="profileFieldsetRef"></ng-container>

    <!-- Form actions -->
    <ng-container [ngTemplateOutlet]="formActionsRef"></ng-container>
  </form>
</div>

<!-- •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

  RENDER TEMPLATES

••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• -->

<!-- ••[3]••••• Contact •••••••••• -->
<ng-template #contactFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset" formGroupName="contact">
    <legend class="legend">
      {{ contactLabel }}
    </legend>
    <!-- Name -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ contactNameLabel }}</mat-label>
      <input matInput type="text" formControlName="name" #contactNameRef />
      @if (contactNameRef.value) {
      <button
        matSuffix
        mat-icon-button
        matTooltip="{{ clearLabel }}"
        matTooltipPosition="above"
        (click)="contactNameRef.value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <!-- Title -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ contactTitleLabel }}</mat-label>
      <input matInput type="text" formControlName="title" #contactTitleRef />
      @if (contactTitleRef.value) {
      <button
        matSuffix
        mat-icon-button
        matTooltip="{{ clearLabel }}"
        matTooltipPosition="above"
        (click)="contactTitleRef.value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </fieldset>
</ng-template>

<!-- ••[3]••••• Profile •••••••••• -->
<ng-template #profileFieldsetRef [formGroup]="resumeForm">
  <fieldset class="fieldset mt-4" formGroupName="profile">
    <legend class="legend">
      {{ profileLabel }}
    </legend>
    <!-- Name -->
    <mat-form-field class="w-full" color="primary">
      <mat-label>{{ profileDescriptionLabel }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
        #profileDescriptionRef
      />
      @if (profileDescriptionRef.value) {
      <button
        matSuffix
        mat-icon-button
        matTooltip="{{ clearLabel }}"
        matTooltipPosition="above"
        (click)="profileDescriptionRef.value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </fieldset>
</ng-template>

<!-- ••[3]••••• Form actions •••••••••• -->
<ng-template #formActionsRef>
  <div class="mt-4 flex justify-end">
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="resumeForm.invalid"
    >
      {{ submitLabel }}
    </button>
  </div>
</ng-template>
