<!-- ••[1]••••••••••••••••••••••••• resume-form.component.html •••••••••••••••••••••••••••••• -->

<div
  class="app-resume-form m-10 border-2 border-primary rounded-md p-8 shadow-lg shadow-primary"
>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam tenetur
  hic numquam voluptas saepe molestiae vitae totam, possimus molestias,
  excepturi praesentium? Saepe ducimus eaque aperiam quod reiciendis porro quas
  consequuntur maiores dolorem iure sequi ipsam expedita minima veniam tempore,
  alias eveniet maxime laudantium voluptas cum, libero ipsa. Velit aut assumenda
  sapiente modi quia provident itaque placeat consequatur neque blanditiis optio
  perspiciatis, dolorum reprehenderit nihil obcaecati, dolorem eius
  necessitatibus animi atque ratione numquam harum quidem iste laboriosam? Optio
  hic soluta porro natus quibusdam a magni cum quisquam itaque ex. Quia
  distinctio, quibusdam possimus maxime voluptate placeat porro vitae sit sequi,
  recusandae aperiam perferendis eveniet tempora voluptatem vero culpa, pariatur
  autem eaque illo quisquam sint. Neque illum qui autem iusto. Reprehenderit
  repellendus blanditiis modi ad sit nostrum illo accusamus fugiat? Placeat sit
  aspernatur maiores quas possimus, a, veniam voluptas natus dicta officia
  perspiciatis ex dolor tenetur quae esse? Tempore sit explicabo ducimus
  repudiandae, quam itaque molestias inventore facilis delectus rerum quo quae,
  autem esse sapiente officiis atque et nostrum eaque commodi qui nulla ratione?
  Sunt, quaerat fuga iure quis harum accusantium nulla esse corporis. Laboriosam
  voluptatum voluptates nostrum quam placeat debitis ex nobis, delectus
  laudantium facilis esse cupiditate aliquam accusantium nulla necessitatibus
  dolor explicabo alias ipsa numquam optio vero at nesciunt voluptatem hic! Vel
  quos facere quisquam fuga libero rerum accusantium consectetur sequi totam
  aspernatur doloremque reprehenderit saepe labore voluptates neque quibusdam,
  nemo quam vero ipsa omnis amet corrupti adipisci fugit! Voluptas eligendi
  autem, delectus odio iusto unde pariatur voluptatum. Pariatur voluptate animi
  eveniet eligendi quae numquam delectus laboriosam, autem fugiat voluptas
  asperiores consequuntur ad fugit ut debitis repudiandae distinctio libero
  natus enim temporibus dolores perferendis. Neque debitis veniam asperiores
  nisi modi doloribus sint eos provident, quibusdam molestias deserunt vero?
  Nostrum in saepe nulla rem ad vitae tenetur rerum porro inventore! Enim dolore
  quas ea omnis impedit? Eligendi asperiores sit at harum non nobis sapiente
  maiores possimus, rem natus itaque molestiae iusto repudiandae corrupti fugiat
  aspernatur doloribus dolore amet adipisci. Sapiente voluptatum placeat vel
  mollitia dolorum quibusdam, quia pariatur tempore molestiae sed labore
  suscipit praesentium optio. Perspiciatis doloremque eveniet dolorem nemo
  eligendi. Ipsa inventore neque omnis accusamus repellat perferendis optio
  sunt, quae velit temporibus tempore excepturi quasi nulla provident soluta
  maiores odit! Pariatur labore aspernatur at, ex enim error nihil ipsa
  doloribus obcaecati praesentium exercitationem quas corporis! Aliquid officiis
  saepe unde numquam quidem, quas perferendis explicabo voluptatum nulla commodi
  fuga eveniet ducimus a vel nobis inventore consequuntur alias? Incidunt magni
  maiores, nobis odio veniam et iure fuga reiciendis beatae inventore placeat id
  ipsam molestias eum corrupti deserunt facilis officiis. Vitae nulla deserunt
  laborum optio fugit ad. Quas, vel pariatur? Perspiciatis ipsum dolorum,
  dolorem eligendi error porro, iste voluptas laborum delectus itaque fuga
  sequi. Maiores dolorem officia minus, consectetur dolor culpa, dolores labore,
  voluptas laborum incidunt natus? Quia reprehenderit quam eaque ut omnis
  incidunt ipsum. Sint qui quibusdam quis. Nam in quisquam, maiores quis atque
  consequatur repudiandae? Optio adipisci vel debitis atque officia explicabo
  molestiae consequatur ex autem eos sit a cum in, numquam mollitia provident
  minima quam rerum! Ab optio nisi ut, in esse animi nihil aspernatur cupiditate
  harum eveniet at doloremque dicta fuga velit dolore doloribus commodi qui!
  Autem, nesciunt eos odit et labore eius deserunt dolorem, numquam
  exercitationem odio eum ullam magnam voluptas a necessitatibus, voluptates
  eligendi provident quidem error veniam aperiam quibusdam? Facere deserunt
  sapiente, ut quasi recusandae officia dolore quod aliquam officiis repellendus
  necessitatibus dicta cupiditate molestias voluptatum non eligendi obcaecati
  accusamus ab. Necessitatibus, ut distinctio, quas nisi iure voluptas odio
  dolores autem dignissimos molestiae similique dolor fuga incidunt saepe
  tempore eius at animi vero rerum magni debitis cupiditate nesciunt? Explicabo
  at, aspernatur, dolores cumque veritatis itaque ullam nisi aliquam voluptatum
  ex omnis pariatur quasi ad dignissimos modi suscipit, quisquam maxime quam
  voluptate debitis rerum id. Veritatis sapiente nulla, quam error et
  architecto! Incidunt illum facere soluta obcaecati cumque architecto rem earum
  atque optio, vitae consequuntur sed veritatis minima debitis impedit quod ex
  distinctio repellat aperiam et! Error hic cum id ab quasi consequatur dolor
  saepe non qui ipsum neque, architecto fuga, dolore consectetur dolorem quae
  aspernatur delectus mollitia! Fuga rem aliquid corrupti. Vero quos, provident
  cumque consequatur quod odio, veniam non accusamus, delectus quas illo iure
  libero. Suscipit quo quis modi repudiandae dolor vel iure vitae sunt at?
  Reiciendis nemo neque numquam necessitatibus aliquid quis delectus repudiandae
  maxime eos exercitationem illo, fugit a libero distinctio vero ducimus
  repellendus, inventore ad laboriosam quibusdam architecto magni quasi?
  Temporibus adipisci in, repellat velit, nulla quaerat beatae incidunt veniam
  autem eaque ducimus quasi eos labore. Quia sit fugit unde consequatur
  reprehenderit suscipit error, accusamus molestias accusantium perspiciatis,
  similique adipisci iste quo sint animi ab ut aliquam quam magni ad aut,
  facilis alias nobis! Repellat nulla officia corporis sunt consequatur
  laboriosam, dolor quis fuga illo quisquam, vero quibusdam incidunt eaque
  voluptatem commodi tempore recusandae. Similique sint laborum corrupti
  voluptas impedit, earum doloremque molestiae unde nisi error inventore
  blanditiis sunt omnis facilis quae quis, ut consectetur debitis adipisci
  explicabo incidunt architecto fugiat illum! Illum quaerat tempora eius
  temporibus sunt nulla ad dicta adipisci debitis praesentium consectetur, esse
  labore neque placeat expedita possimus enim modi ut deserunt dolores
  perspiciatis nesciunt quasi inventore eligendi! Nostrum temporibus recusandae
  perspiciatis harum explicabo labore repellendus magni molestiae suscipit velit
  inventore, impedit eligendi autem assumenda soluta aliquam culpa sunt voluptas
  ut. Ullam tempore, neque nihil, nobis rem, unde ea minima corrupti dolore quo
  similique? Omnis placeat architecto et esse, nam soluta fugit sit sint fuga
  ipsam dolorum dolore repudiandae perferendis recusandae hic distinctio quam
  cupiditate quod nulla molestias laudantium, magnam deleniti reprehenderit
  neque. Sapiente incidunt ex minus voluptatum accusantium, impedit quia maxime
  minima error aperiam culpa quam rerum porro rem cum eaque cupiditate, nam
  itaque. Quaerat dolores aut repellendus officiis sint reiciendis accusantium
  labore odio! Reprehenderit assumenda labore, autem, esse corporis eos
  perferendis voluptate obcaecati omnis fugiat, mollitia ducimus! Quod, delectus
  rerum ullam, adipisci saepe excepturi numquam fuga blanditiis ex debitis
  voluptatum quis eligendi, cum non repellat sunt cupiditate molestias beatae et
  illo culpa praesentium dicta quos dolorem! Quia?
</div>
